rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // itemsコレクションに対するルール
    match /items/{item} {
      // サインインしているユーザーは、削除以外の操作が可能
      allow read, create, update: if request.auth.uid != null;
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == userId;
    }
  }
}